{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron jumbotron-fluid"  role="alert" >
        <div id="bienvenida" class="container">
            <h1 class='display-3'>Bienvenid@ a MarTech</h1>
               <hr>
               <p class="mb-0 lead">MarTech es una empresa de tecnología informática fundada en Octubre del 2001.
Nuestro objetivo es el de satisfacer las necesidades que el cambiante y competitivo mercado demanda en la actualidad, aportando soluciones que no se circunscriban únicamente al desarrollo del software, sino que con un enfoque más amplio, permitan a nuestros clientes optimizar su gestión, clave de la competitividad.</p>
           </div>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-10 mx-auto">
                <h3 class='display-4'>Catalogo de Ordenadores</h3>
            </div>
        </div>
        
        <div class="row bg-white">
            <div class="col-md-12">
                <div class ="row">
                {% for producto in productos %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="card mb-2">
                       <img src="{{ producto.getUrlPicture()}}" alt="Image Producto">
                        <div class="card-body">
                            <h4 class="d-flex justify-content-end">
                                    <h4 class="p-0"> {{ producto.getPrice() }}
                                        <h4> {{ producto.getName() }}</a>
                                    </h4>
                            <div class="px-2">
                                <p class="card-text"> {{ producto.getDescription()|raw }} </p>
                            </div>        
                              <a href="{{ path('productos_show', {'id': producto.getId()}) }}" class="btn btn-primary">Ver mas...</a>
                        </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

